html {
 scroll-behavior: smooth;
 scroll-snap-type: y proximity;
}

h1, h2, h3 {
 font-family: sans-serif;
}

p {
 font-family: serif;
}

/* ______________________________
 NAV BAR CONTAINER
 _________________________________*/

.containerNavBar {
 /* border-bottom: 1px solid black; */
 background: linear-gradient( rgba(36, 139, 110, 0), rgba(170, 208, 221, 0));
 /* background-color: linear-gradient(
  rgba(53, 80, 112, 0.8),
  rgba(109, 89, 122, 0.8),
  rgba(181, 101, 118, 0.8),
  rgba(229, 107, 111, 0.8),
  rgba(234, 172, 139, 0.8),
  rgba(170, 208, 221, 0.8),
  rgba(36, 139, 110, 0.8),
  rgba(36, 139, 110, 0.8)); */
 display: grid;
 grid-template-columns: 1fr 2fr;
 grid-template-rows: 12vh;
 grid-template-areas: "logo containerOfNavBarItem";
 grid-area: logo;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 z-index: 9999999999;
}

.logoNavBar {
 /* border:1px solid black; */
 display: flex;
 justify-content: center;
 align-items: center;
 background-image: url(../images/termporalLogo.png);
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
 outline: none;
}

.containerOfNavBarItem {
 /* border:3px solid tomato; */
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 grid-template-rows: 10vh;
 grid-area: containerOfNavBarItem;
 margin: 0;
 padding: 0;
}

.navBarItem {
 /* border:1px solid blueviolet; */
 /* background: blueviolet; */
 list-style: none;
 height: 12vh;
 text-align: center;
 vertical-align: middle;
}

.navBarItem a {
 /* padding:6vh 5vw; */
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 text-decoration: none;
 color: black;
 outline: none;
 text-transform: uppercase;
 box-shadow: 1px 1px 10px 1px black;
 border-radius: 20px;
 /* margin: 0 20px; */
 padding: 0 2px 0px 0;
}

.navBarItem a:hover {
 /* background-color: wheat; */
 box-shadow: inset 1px 1px 10px 1px white;
 /* background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 12, 0.1)), url(../images/services3.jpg); */
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 border-radius: 20px;
}

#contactenosItem {
 text-decoration: underline overline;
}

#contactenosItem a:hover {
 background-color: cornflowerblue;
 color: white;
}

/* ______________________________
 HERO SECTION
 _________________________________*/

.containerHeroSection {
 /* border: 2px red solid; */
 height: 180vh;
 /* height: calc(130vh + 12vh + 8rem); */
 /* background-image: linear-gradient(
  rgba(53, 80, 112, 0.8),
  rgba(109, 89, 122, 0.8),
  rgba(181, 101, 118, 0.8),
  rgba(229, 107, 111, 0.8),
  rgba(234, 172, 139, 0.8),
  rgba(170, 208, 221, 0.8),
  rgba(36, 139, 110, 0.8),
  rgba(36, 139, 110, 0.8)),
   url(../images/beachAustralia.jpg); */
 /* background-image: linear-gradient(
  rgba(53, 80, 112, 0.2),
  rgba(109, 89, 122, 0.2),
  rgba(181, 101, 118, 0.2),
  rgba(229, 107, 111, 0.2),
  rgba(234, 172, 139, 0.2),
  rgba(170, 208, 221, 0.2),
  rgba(36, 139, 110, 0.2),
  rgba(36, 139, 110, 0.2)),
   url(../images/beachAustralia.jpg); */
 background-image: linear-gradient( rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(../images/beachAustralia.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 display: flex;
 flex-flow: column wrap;
 justify-content: center;
 align-items: center;
 margin-top: -12vh;
}

.forScrollProperty {
 scroll-snap-align: start;
}

.textOfHeroSection {
 scroll-margin-top: 13vh;
 font-size: 10vw;
 font-size: clamp(2.9rem, 10vw, 11rem);
 text-align: center;
 margin: 0;
}

.parallaxGeneralSection {
 height: 100vh;
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.parallaxHeroSection {
 background-image: url(../images/laPortada.jpg)
}

/* ______________________________
 PRESENTATION OF COMPANNY
 _________________________________*/

.containerOfAllPresentationOfCompanny {
 height: 113vh;
 /* padding-top: 12vh; */
 /* background:linear-gradient(#EECF6D, #D5AC4E, #8B6220); */
 /* background:linear-gradient(#e66465, #9198e5); */
 /* background: linear-gradient(rgba(236, 242, 248, 1) 0%, rgba(199, 215, 234, 1) 3%, rgba(162, 188, 221, 1) 6%); */
 display: grid;
 grid-template-columns: 1fr;
 grid-template-areas: "presentationOfCompanny";
 background-image: url(../images/parallaxVisionYMission3.jpg);
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.containerOfPresentation {
 display: flex;
 flex-flow: column;
 justify-content: flex-start;
 align-items: center;
 padding-top: 13vh;
 /* position: relative; */
 grid-area: "presentationOfCompanny";
}

.moreIndividualContainerOfPresentation {
 /* border: 3px black solid; */
 border-radius: 30px;
 width: 90%;
 background: linear-gradient(rgba(162, 188, 221, 0.8), rgba(124, 161, 207, 0.7), rgba(87, 135, 193, 0.6), rgba(62, 109, 168, 0.5), rgba(48, 85, 131, 0.4), rgba(34, 61, 93, 0.3), rgba(21, 36, 56, 0.2), rgba(7, 12, 19, 0.1));
 text-align: center;
 box-shadow: inset 1px 1px 11px 7px rgba(162, 188, 221, 0.8), 1px 1px 11px 7px rgba(7, 12, 19, 0.5);
}

.titleOfPresentacion {
 font-size: clamp(2.2rem, 10vw, 11rem);
 color: white;
 margin: 0;
 text-decoration: underline;
}

.paragraphOfVision {
 font-size: clamp(1.3rem, 2vw, 3.5rem);
 color: white;
}

/* ______________________________
 SERVICES
 _________________________________*/

.services {
 height: 112vh;
 background-color: darkslateblue;
}

.parallaxServices {
 background-image: url(../images/services3.jpg);
}

/* ______________________________
 OUR TEAM
 _________________________________*/

.ourTeam {
 height: 100vh;
 background-color: darkolivegreen;
}

.parallaxOurTeam {
 background-image: url(../images/ourTeam2.jpg);
 /* background-position: center; */
}

/* ______________________________
 FOOTER
 _________________________________*/

.footer {
 height: 100vh;
 background-color: indigo;
}

.parallaxFooter {
 background-image: url(../images/footerImage.jpg);
 background-position: bottom center;
 height: 100vh;
 /* background-size:contain; */
}