html {
 scroll-behavior: smooth;
 scroll-snap-type: y proximity;
}

/* ______________________________
 NAV BAR CONTAINER
 _________________________________*/

.containerNavBar {
 /* border-bottom: 1px solid black; */
 background: linear-gradient( rgba(36, 139, 110, 0.2), rgba(170, 208, 221, 0.2));
 /* background-color: linear-gradient(
  rgba(53, 80, 112, 0.8),
  rgba(109, 89, 122, 0.8),
  rgba(181, 101, 118, 0.8),
  rgba(229, 107, 111, 0.8),
  rgba(234, 172, 139, 0.8),
  rgba(170, 208, 221, 0.8),
  rgba(36, 139, 110, 0.8),
  rgba(36, 139, 110, 0.8)); */
 display: grid;
 grid-template-columns: 1fr 2fr;
 grid-template-rows: 12vh;
 grid-template-areas: "logo containerOfNavBarItem";
 grid-area: logo;
 position: sticky;
 top: 0;
}

.logoNavBar {
 /* border:1px solid black; */
 display: flex;
 justify-content: center;
 align-items: center;
 background-image: url(../images/termporalLogo.png);
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
 outline: none;
}

.containerOfNavBarItem {
 /* border:3px solid tomato; */
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 grid-template-rows: 10vh;
 grid-area: containerOfNavBarItem;
 margin: 0;
 padding: 0;
}

.navBarItem {
 /* border:1px solid blueviolet; */
 /* background: blueviolet; */
 list-style: none;
 height: 12vh;
 text-align: center;
 vertical-align: middle;
}

.navBarItem a {
 /* padding:6vh 5vw; */
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 text-decoration: none;
 color: black;
 outline: none;
 text-transform: uppercase;
}

.navBarItem a:hover {
 background-color: wheat;
 box-shadow: inset 0 -10px black;
}

#contactenosItem {
 text-decoration: underline overline;
}

#contactenosItem a:hover {
 background-color: cornflowerblue;
 color: white;
}

/* ______________________________
 HERO SECTION
 _________________________________*/

.containerHeroSection {
 /* border: 2px red solid; */
 height: 180vh;
 /* height: calc(130vh + 12vh + 8rem); */
 /* background-image: linear-gradient(
  rgba(53, 80, 112, 0.8),
  rgba(109, 89, 122, 0.8),
  rgba(181, 101, 118, 0.8),
  rgba(229, 107, 111, 0.8),
  rgba(234, 172, 139, 0.8),
  rgba(170, 208, 221, 0.8),
  rgba(36, 139, 110, 0.8),
  rgba(36, 139, 110, 0.8)),
   url(../images/beachAustralia.jpg); */
 /* background-image: linear-gradient(
  rgba(53, 80, 112, 0.2),
  rgba(109, 89, 122, 0.2),
  rgba(181, 101, 118, 0.2),
  rgba(229, 107, 111, 0.2),
  rgba(234, 172, 139, 0.2),
  rgba(170, 208, 221, 0.2),
  rgba(36, 139, 110, 0.2),
  rgba(36, 139, 110, 0.2)),
   url(../images/beachAustralia.jpg); */
 background-image: linear-gradient( rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(../images/beachAustralia.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 display: flex;
 flex-flow: column wrap;
 justify-content: center;
 align-items: center;
 margin-top: -12vh;
}

.forScrollProperty {
 scroll-snap-align: start;
}

.textOfHeroSection {
 /* font-size: calc(100vw - 90vw); */
 /* font-size: calc(9vw + 5vh); */
 /* font-size: min(max(10vw, 31vw), 10vh); */
 /* font-size:5vh; */
 scroll-margin-top: 8rem;
 font-size: 10vw;
 font-size: clamp(2.9rem, 10vw, 11rem);
 text-align: center;
 margin: 0;
}

.parallaxGeneralSection {
 min-height: 50vh;
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.parallaxHeroSection {
 background-image: url(../images/laPortada.jpg)
}

/* ______________________________
 VISION AND MISSION
 _________________________________*/

.visionYMission {
 height: calc(100vh + 12vh);
 padding-top: 12vh;
 background-color: coral;
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-areas: "vision mission";
}

.containerOfVisionYMission {
 display: flex;
 flex-flow: column;
 justify-content: center;
 align-items: center;
 position:relative;
}

.containerOfVision {
 border: 3px yellow solid;
}

.containerOfMission {
 border: 3px floralwhite solid;
}

.parallaxVisionYMission {
 background-image: url(../images/parallaxVisionYMission3.jpg);
}

/* ______________________________
 SERVICES
 _________________________________*/

.services {
 height: calc(100vh + 12vh);
 background-color: darkslateblue;
}

.parallaxServices {
 background-image: url(../images/services3.jpg);
}

/* ______________________________
 OUR TEAM
 _________________________________*/

.ourTeam {
 height: 100vh;
 background-color: darkolivegreen;
}

.parallaxOurTeam {
 background-image: url(../images/ourTeam2.jpg);
 background-position: bottom left;
}

/* ______________________________
 FOOTER
 _________________________________*/

.footer {
 height: 100vh;
 background-color: indigo;
}

.parallaxFooter {
 background-image: url(../images/footerImage.jpg);
 background-position: bottom center;
 height: 100vh;
 /* background-size:contain; */
}